/* padroes */
body{
    margin:0;
    padding-top: 178px;
    color: #8a8c8f;
    font:20px/1.2 'Maven Pro', sans-serif;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.central{
    margin:0 auto;
    width: 100%;
    max-width: 980px;
}
.clear{
    clear: both;
}
.cor-rosa{
    color:#e9426b;
}
.cor-azul{
    color:#3bb3f0;
}
.cor-azul-1{
    color:#1857a1;
}
.cor-azul-2{
    color:#40b4f0;
}
.cor-azul-3 {
    color: #2679c9;
}
.cor-verde{
    color:#94bc19;
}
.cor-laranja{
    color:#fc9813;
}
.cor-roxo{
    color:#7861a3;
}
.cor-cinza{
    color:#8a8c8f;
}
.chamada {
    background:  top center no-repeat;
}
.titulos {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}
.ipt-submit-reset, .ipt-reset{
    font: 20px/1.2 'Maven Pro', sans-serif;
    border: none;
}
.ipt-reset {
    padding: 5px;
}
.ipt-submit-reset {
    cursor: pointer;
}
/* topo */
#topo-principal{
    text-align: center;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 100;
}
.logo-topo{
    background: url(../imagens/logo-menu.png) center center no-repeat;
    width: 148px;
    height: 169px;
    transition: 0.25s;
    display: inline-block;
    margin: 0 10px -55px;
}
#topo-principal::after, #topo-principal::before {
    background: url(../imagens/barra-menu.png) top center no-repeat;
    content: '';
    display: block;
}
#topo-principal::before {
    height: 15px;
}
#topo-principal::after {
    background-image: url(../imagens/barra-menu-bottom.png);
    height: 45px;
    transition: 0.25s;
    margin: 43px 0 -44px;
}
.link-menu{
    display: inline-block;
    width: 90px;
    margin: 0 10px;
}
.link-menu::before {
    display: block;
    content: '';
    width: 25px;
    height: 14px;
    margin: 0 auto 5px;
}
.link-menu.cor-rosa::before{
    background-image: url(../imagens/gota-rosa.png);
}
.link-menu.cor-azul::before{
    background-image: url(../imagens/gota-azul.png);
}
.link-menu.cor-verde::before{
    background-image: url(../imagens/gota-verde.png);
}
.link-menu.cor-laranja::before{
    background-image: url(../imagens/gota-laranja.png);
}
.link-menu.cor-roxo::before{
    background-image: url(../imagens/gota-roxo.png);
}
.link-menu.cor-cinza::before{
    background-image: url(../imagens/gota-cinza.png);
}
#topo-principal.topo-scroll::after{
    background-image: url(../imagens/barra-menu-bottom-2.png);
    margin-top: 15px;
}
.topo-scroll .logo-topo {
    background-image: url(../imagens/logo-menu-reduzido.png);
    width: 106px;
    height: 105px;
    margin: 0 10px -25px;
}
/* home */
.secao-home {
    box-sizing: border-box;
    float: left;
    position:relative;
}
.link-secao-home {
    width: 254px;
    height: 49px;
    display: block;
    margin: 25px 0 30px;
    position: relative;
    z-index: 2;
}
.secao-home-1 .icone-secao-home {
    float: left;
    background: url(../imagens/icone-porque-exitimos.png);
    width: 409px;
    height: 236px;
    margin: 0 30px 0 0;
}
.secao-home-2 .icone-secao-home, .item-central-quem-somos .icone-secao-home{
    background: url(../imagens/icones-quem-somos.png);
    width: 328px;
    margin-left: -40px;
    height: 215px;
}
.secao-home-3 .icone-secao-home, .item-central-como-fazemos-2 .icone-secao-home{
    background: url(../imagens/icone-posicionamento.png);
    width: 318px;
    height: 220px;
    margin: 0 0 20px -50px;
}
.secao-home-4 .icone-secao-home, .item-central-como-fazemos-3 .icone-secao-home{
    background: url(../imagens/icone-etapa.png);
    width: 281px;
    height: 310px;
    margin-left: -25px;
}
.secao-home-5 .icone-secao-home, .item-central-como-fazemos-7 .icone-secao-home{
    background: url(../imagens/icone-pensar.png);
    width: 302px;
    height: 247px;
    margin-left: -45px;
}
.secao-home-1 .link-secao-home{
    background:url(../imagens/btn-por-que-existimos.png);
    float: right;
    margin: 25px 85px 0 -20px;
}
.secao-home-2 .link-secao-home{
    background:url(../imagens/btn-quem-somos.png);
}
.secao-home-3 .link-secao-home{
    background:url(../imagens/btn-como-fazemos.png);
}
.secao-home-4 .link-secao-home{
    background:url(../imagens/btn-etapa1.png);
}
.secao-home-5 .link-secao-home{
    background:url(../imagens/btn-formatos.png);
}
#container-logo {
    clear: both;
    width: 301px;
    background: url(../imagens/linha-logo.png);
    height: 252px;
    margin: 0 auto;
    text-align: center;
    padding-top: 49px;
    position: relative;
    z-index: 2;
}
.secao-home-1 {
    float: right;
    width: 762px;
    margin-bottom: 21px;
}
.secao-home-1 .ctd-secao-home {
    padding-top: 80px;
}
.secao-home-2 {
    width: 360px;
    padding-left: 40px;
}
.secao-home-3 {
    float: right;
    width: 350px;
    margin: 116px 0 -133px 0;
    padding: 0 25px 0 50px;
    box-sizing: border-box;
}
.secao-home-4 {
    padding-left: 25px;
    margin-top: -251px;
    width: 310px;
}
.secao-home-5 {
    width: 300px;
    padding-left: 45px;
    float: right;
    margin-top: -32px;
}
.secao-home::after{
    content:'';
    display:block;
    position:absolute;
}
.secao-home-1::after {
    background:url(../imagens/linha-por-que-existimos.png);
    width:149px;
    height: 548px;
    top: 272px;
    right: 334px;
}
.secao-home-2::after {
    background:url(../imagens/linha-verde.png);
    width:229px;
    height: 236px;
    top: 264px;
    right: -120px;
}
.secao-home-3::after {
    background:url(../imagens/linha_como-fazemos.png);
    width:321px;
    height:282px;
    top: 268px;
    right: 20px;
}
.secao-home-4::after {
    background:url(../imagens/linha-etapa.png);
    width:418px;
    height:113px;
    top: 249px;
    right: -170px;
}
.secao-home-5::after {
    background:url(../imagens/linha-pensar.png);
    width:358px;
    height:268px;
    top: 30px;
    left: -183px;
}
#home-blog-clientes {
    background: url(../imagens/fundo-ctd-home.png) no-repeat center top;
    height: 914px;
    margin-bottom: -44px;
}
#titulo-clientes-home {
    background:url(../imagens/icone_aspas.png);
    width: 336px;
    height: 134px;
    margin: 68px 0 27px;
}
#titulo-blog {
    background:url(../imagens/as-ultimas-do-blog.png);
    width: 272px;
    height: 145px;
    margin: 68px 0 15px;
}
.post-blog-home {
    background: url(../imagens/linha-veja-mais-blog.png) right top no-repeat;
    width: 405px;
    height: 272px;
}
.foto-blog-clientes-home {
    background:url(../imagens/fundo-foto-blog.png);
    width: 140px;
    height: 140px;
    text-align: center;
    float: left;
    margin-top: 30px;
}
.titulo-blog-home {
    font-size: 20px;
    margin: 25px 0 10px 0;
    line-height: 1.2;
}
.titulo-clientes-home {
    font-size: 20px;
    margin: 20px 0 10px;
    overflow: hidden;
    height: 110px;
}
.ctd-post-clientes {
    font-size: 17px;
    float: right;
    width: 300px;
    margin: 0 20px;
}
.ctd-home-clientes .foto-blog-clientes-home {
    background: url(../imagens/fundo-foto-clientes.png);
}
#home-clientes {
    background: url(../imagens/linha-veja-mais-depoimento.png) no-repeat right 228px;
    float: right;
}
.esconde-blog-clientes-home {
    overflow: hidden;
    border-radius: 90px;
    width: 126px;
    height: 126px;
    margin: 0 auto;
    padding-top: 2px;
}
#home-blog {
    float: left;
}
.ctd-post-blog {
    float: right;
    width: 230px;
    margin-right: 10px;
}
.ctd-post-blog p {
    margin: 0;
    font-size: 18px;
}
.btn-veja-mais{
    width: 165px;
    height: 49px;
    float: right;
}
.btn-veja-mais.btn-blog-home {
    background-image: url(../imagens/btn-veja-mais-blog.png);
    float: right;
    margin: 24px 90px 0 0;
}
.btn-veja-mais.btn-clientes-home {
    background-image: url(../imagens/btn-veja-mais-depoimento.png);
    margin: -65px 167px 0 0;
}
.ctd-post-clientes p {
    margin: 0;
    height: 40px;
    overflow: hidden;
}
.ctd-home-clientes {
    margin-bottom: 84px;
}
.titulo-clientes-home::after,.titulo-clientes-home::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 26px;
}
.titulo-clientes-home::after{
    background-image: url(../imagens/aspas-direita-home.png);
}
.titulo-clientes-home::before{
    background-image: url(../imagens/aspas-esquerda-home.png);
    margin-right: 7px;
}
/* chamada */
.chamada-topo {
    background-image: url(../imagens/chamada-como-fazemos.png);
    height: 250px;
}
.page-home .chamada-topo{
    background-image: url(../imagens/chamada-home.png);
    height: 434px;
}
.page-quem-somos .chamada-topo{
    background-image: url(../imagens/chamada-quem-somos.png);
}
.page-pq-existimos .chamada-topo{
    background-image: url(../imagens/chamada-pq-existimos.png);
}
.page-nossos-clientes .chamada-topo{
    background-image: url(../imagens/chamada-nossos-clientes.png);
    position: relative;
    z-index: 2;
}
.page-fale-conosco .chamada-topo{
    background-image: url(../imagens/chamada-fale-conosco.png);
    height: 256px;
}
.chamada-bottom-encaixa {
    margin-bottom: -44px;
    position: relative;
    z-index: 2;
}
#chamada-fale-conosco {
    background-image: url(../imagens/fundo-fale-conosco.png);
    height: 374px;
    text-align: center;
}
#link-fale-conosco {
    background: url(../imagens/btn-fale-conosco.png);
    height: 71px;
    width: 460px;
    display: inline-block;
    margin-top: 140px;
}
#chamada-newsletter {
    color: white;
    background-image: url(../imagens/fundo-email-mkt.png);
    text-align: center;
    padding: 80px 0 0;
    height: 350px;
    box-sizing: border-box;
}
/* Por que existimos */
.ctd-pg {
    max-width: 736px;
    margin: 0 auto 120px;
    text-align: center;
}
#razoes-container {
    max-width: 830px;
    margin: 70px auto 50px;
}
.icone-pq-existimos {
    background: url(../imagens/icones-baloes.png) no-repeat;
    max-width: 923px;
    height: 496px;
    margin: 100px auto 80px;
}
.icone-container {
    width: 210px;
    height: 210px;
    border-radius: 120px;
    border: 2px solid;
}
.icone-container .icone {
    display: inline-block;
    margin-top: 64px;
}
.razao {
    text-align: center;
    width: 214px;
    display: inline-block;
    height: 298px;
    margin: 0 30px;
    float: left;
}
.razao h1 {
    font-size: 23px;
    font-weight: normal;
    margin: 10px;
}
.razao-0 .icone {
    background: url(../imagens/icone-setas.png);
    width: 102px;
    height: 78px;
}
.razao-1 .icone {
    background: url(../imagens/icone-caderno.png);
    width:83px;
    height: 82px;
}
.razao-2 .icone {
    background: url(../imagens/icone-people.png);
    width: 79px;
    height: 93px;
    margin-top: 54px;
}
.razao-3 .icone {
    background: url(../imagens/icone-tempo.png);
    width: 84px;
    height: 85px;
}
.razao-4 .icone {
    background: url(../imagens/icone-graficos.png);
    width: 83px;
    height: 81px;
}
.razao-3 {
    margin-left: 150px;
}
.page-pq-existimos #link-fale-conosco {
    background-image: url(../imagens/btn-saiba-como-fazemos.png);
    max-width: 583px;
}
/* como fazemos */
.borda-azul {
    border: 2px solid #40b4f0;
    border-radius: 430px;
}
.item-central-como-fazemos-2 {
    width: 835px;
    margin-bottom: 110px;
}
.item-central .icone-secao-home {
    float: left;
    margin: 0 30px 0 0;
}
.itens-borda-azul {
    width: 140px;
    height: 140px;
}
.titulo-itens-borda {
    color: #40b4f0;
    margin: 0;
    text-align: center;
    font-size: 21px;
}
.itens-borda-azul .icone {
    background: url(../imagens/icone-lupa.png) no-repeat center center;
    display: block;
    margin: 32px auto 5px;
    width: 37px;
    height: 34px;
}
.itens-borda-azul-0 .icone {
    background-image: url(../imagens/icone-lupa.png);
}
.itens-borda-azul-1 .icone {
    background-image: url(../imagens/icone-oculos.png);
}
.itens-borda-azul-2 .icone {
    background-image: url(../imagens/icone-luz.png);
}
.itens-borda-azul-3 .icone {
    background-image: url(../imagens/icone-imac.png);
}
.itens-borda-azul-4 .icone {
    background-image: url(../imagens/icone-note.png);
}
.itens-borda-azul-5 .icone {
    background-image: url(../imagens/icone-lapis.png);
}
.item-central .borda-azul {
    width: 210px;
    height: 210px;
    float: left;
    margin-right: 20px;
}
.item-central-como-fazemos-9 .icone-como-fazemos {
    background:url(../imagens/icone-marketing-outsourcing.png);
    width:77px;
    height:90px;
}
.item-central-como-fazemos-10 .icone-como-fazemos {
    background:url(../imagens/icone-marketing-mentoring.png);
    width:80px;
    height:82px;
}
.icone-como-fazemos{
    margin: 60px auto 0;
}
.item-central .titulos {
    text-align: left;
}
.item-central-como-fazemos-2 .titulos {
    font-weight: bold;
}
.item-como-fazemos-etapas{
    margin: 70px auto;
}
.item-como-fazemos-etapas .titulos, .item-central-como-fazemos-7 .titulos {
    font-weight: bold;
    margin: 0;
}
.item-como-fazemos-etapas h2.titulos {
    font-size: 30px;
}
.item-como-fazemos-etapas h1.titulos {
    font-size: 42px;
    margin-bottom: 5px;
}
.item-central-como-fazemos-3 {
    padding-top: 135px;
}
.item-central-como-fazemos-3 .icone-secao-home {
    margin-top: -135px;
}
.item-central-como-fazemos-7{
    padding-top: 90px;
    width: 690px;
}
.item-central-como-fazemos-7 .icone-secao-home {
    margin-top: -90px;
}
.item-como-fazemos {
    width: 220px;
    float: left;
    font-size: 18px;
}
.item-como-fazemos .titulos {
    text-align: left;
    color: #5a8ccb;
    font-size: 18px;
    margin-bottom: 10px;
}
.container-itens-como-fazemos .borda-azul {
    width: 210px;
    height: 210px;
    margin: 0 auto;
}
.container-itens-como-fazemos .icone-como-fazemos {
    background: url(../imagens/icone-calendar.png) no-repeat center center;
    width: 96px;
    height: 87px;
}
.item-como-fazemos-1 .icone-como-fazemos {
    background-image: url(../imagens/icone-flor.png);
}
.item-como-fazemos-2 .icone-como-fazemos {
    background-image: url(../imagens/icone-money.png);
}
.bolinha-mais-igual {
    float: left;
    margin: 80px 20px 0;
    background: #40b4f0;
    color: white;
    width: 60px;
    height: 60px;
    font:bold 35px/1.2 Arial;
    padding-top: 9px;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
}
#esconde-itens-como-fazemos{
    max-width: 860px;
    overflow: hidden;
    margin: 0 auto;
}
.borda-dotted {
    border-style: dotted;
}
.borda-dotted-1{
    width: 625px;
    height: 625px;
}
.borda-dotted-2{
    width: 508px;
    height: 508px;
}
.borda-azul-3{
    width: 406px;
    height: 406px;
    box-sizing: border-box;
    padding: 35px 50px 0;
    text-align: center;
    font-size: 18px;
}
.borda-azul-ctd{
    margin:0 auto;
}
.borda-azul-3 .titulos {
    font-size: 26px;
}
.itens-borda-azul {
    float: left;
    background: white;
}
.itens-borda-azul-3, .itens-borda-azul-4, .itens-borda-azul-5{
    float:right;
}
.itens-borda-azul-0 {
    margin: -453px 0 0 120px;
}
.itens-borda-azul-1 {
    margin: -238px 0 0 155px;
}
.itens-borda-azul-2 {
    margin: -99px 0 0 305px;
}
.itens-borda-azul-3 {
    margin: -99px 300px 0 0;
}
.itens-borda-azul-4 {
    margin: -293px 145px 0 0;
}
.itens-borda-azul-5 {
    margin: -498px 120px 0 0;
}
.item-como-fazemos-formatos {
    margin-bottom: 70px;
    padding-top: 50px;
}
.item-como-fazemos-formatos .titulos {
    font-size: 42px;
    margin: 0 0 18px;
    font-weight: bold;
}
.item-como-fazemos-formatos .borda-azul {
    margin-top: -50px;
}
.titulo-etapas-como-fazemos {
    margin: 110px 0 70px;
}
/* quem somos */
.item-central-quem-somos {
    text-align: center;
}
.item-central-quem-somos .titulos {
    text-align: center;
}
.ctd-quem-somos .titulos {
    font-weight: bold;
    margin: 0;
}
.item-central-quem-somos {
    padding-top: 80px;
}
.item-central-quem-somos .icone-secao-home {
    margin: -82px 30px 30px 0;
}
.btn-linkedin {
    display: block;
    height: 50px;
    margin-top: 20px;
}
.btn-linkedin::before {
    content: '';
    background: url(../imagens/btn-linkedin.png);
    width: 51px;
    height: 50px;
    margin: 0 10px -18px 0;
    display: inline-block;
}
#titulo-quem-somos {
    margin-top: 120px;
}
.equipe-diretoras {
    width: 45%;
    float: left;
}
.equipe .titulos {
    text-align: left;
}
.container-equipe-img {
    float: left;
    margin-right: 40px;
}
.equipe {
    clear: both;
    margin-bottom: 90px;
}
.equipe.equipe-diretoras {
    clear: none;
    margin-bottom: 150px;
}
#container-equipe .equipe-diretoras:first-child {
    margin-right: 10%;
}
.equipe-diretoras .ctd-txt-equipe {
    min-height:120px;
}
.equipe-diretoras .ctd-equipe {
    clear: both;
}
#container-equipe {
    margin-top: 80px;
}
/* Nossos Clientes */
.cliente {
    border: 5px solid #e2e2e2;
    display: inline-block;
    border-radius: 110px;
    overflow: hidden;
    margin: 20px;
    background: #e2e2e2;
    width: 185px;
    height: 185px;
}
.cliente img {
    width: 100%;
    height: auto;
}
.container-banner {
    max-width: 1800px;
    margin: -55px auto 0;
    overflow: hidden;
    position: relative;
}
#logo-banner {
    margin-top: -110px;
    position: relative;
    z-index: 2;
    opacity: 0;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.container-imagens {
    height: 701px;
    overflow: hidden;
}
.container-imagens img {
    width: 1800px;
    height: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -900px;
}
#resumo-banner {
    position: absolute;
    top: 80px;
    z-index: 10;
    opacity: 0;
    font-size:28px;
    font-weight:bold;
    color: white;
    width: 570px;
    right: 20%;
}
.nome-pessoa {
    font-size:20px;
}
.nome-empresa {
    font-size:18px;
    font-weight:normal;
}
#resumo-banner::after, #resumo-banner::before{
    content:'';
    display:block;
    width: 69px;
    height: 54px;
}
#resumo-banner::after{
    background:url(../imagens/aspas-direita.png);
    float: right;
    margin-top: -30px;
}
#resumo-banner::before{
    background:url(../imagens/aspas-esquerda.png);
}
.leia-mais-clientes{
    color:#fbf200;
}
.setas-banner {
    width: 51px;
    cursor: pointer;
    height: 51px;
}
#seta-esquerda{
    background: url("../imagens/seta-esquerda.png");
    float: left;
}
#seta-direita{
    background: url("../imagens/seta-direita.png");
    float: right;
}
#container-setas {
    float: right;
    width: 110px;
    margin-top: -70px;
    position: relative;
    z-index: 2;
}
.container-banner-depoimento #logo-banner, .container-banner-depoimento img{
    opacity: 1;
}
.ctd-depoimento-txt p b {
    color: #fd8e09;
    font-size: 25px;
}
.ctd-depoimento-txt {
    font-size: 18px;
}
.container-logos {
    text-align: center;
}
/* Fale Conosco */
#form-fale-conosco {
    width: 780px;
    margin: 0 auto;
}
#form-fale-conosco .ipt-reset, #form-fale-conosco select {
    width: 48%;
    border: 2px solid #8a8c8f;
    padding: 20px 30px;
    font: 20px/1.2 'Maven Pro', sans-serif;
    color: #8a8c8f;
    border-radius: 40px;
    box-sizing: border-box;
    margin: 0 0 15px;
}
#form-fale-conosco select {
    text-align: left;
    background: url(../imagens/seta-select.png) no-repeat 330px center #ebebeb;
    -webkit-appearance: none;
    color: #6d6d6e;
    -moz-appearance: none;
    appearance: none;
}
#marcador-maps, #icone-envelope {
    display: inline-block;
}
#icone-envelope {
    background: url(../imagens/icone-envelope.png);
    width: 76px;
    height: 79px;
    margin-top: 50px;
}
#form-fale-conosco{
    background: url(../imagens/form-contato-linha.png) top left no-repeat;
    text-align: justify;
    padding: 60px 52px 0 0;
}
#fale-conosco-msg {
    height: 242px;
    margin: 0!important;
}
#maps {
    background: url(../imagens/mapa.jpg) top center no-repeat;
    max-width: 1800px;
    margin: 0 auto -43px;
    height: 634px;
}
#marcador-maps {
    background: url(../imagens/mapa-icon.png);
    width: 88px;
    margin-top: 105px;
    height: 99px;
}
.page-fale-conosco .ctd-pg {
    margin-bottom: 0;
    width: 830px;
}
#drop-arquivos-container {
    margin: 0 31px 0 0!important;
    float: left;
    height: 242px;
    text-align: center;
    border-style: dashed!important;
}
p#arquivos-paragrafo-1 {
    margin: 0 0 0 0;
    text-align: left;
}
#arquivos-paragrafo-2 {
    font-size: 18px;
    margin-top: 35px;
    font-style: italic;
}
#arquivos-paragrafo-2 span {
    font-style: normal;
    font-size: 13px;
    display: block;
    margin-top: 15px;
}
#preenche-obrigatorio {
    margin-left: 30px;
    font-style: italic;
}
#enviar-form {
    background: url(../imagens/btn-enviar.png);
    width: 291px;
    height: 61px;
    border: none;
    margin: 25px auto 0;
    cursor: pointer;
    display: block;
}
/* rodape */
#formulario-newsletter input{
    padding: 18px 35px;
}
#formulario-newsletter input[type=text] {
    border-radius: 40px 0 0 40px;
    width: 450px;
    margin-right: -40px;
}
#formulario-newsletter input[type=submit] {
    border-radius: 0 40px 40px 0;
    background: url(../imagens/fundo-btn-cadastrar.png) left top no-repeat #FDA40A;
    color: white;
}
#rodape {
    background: url(../imagens/rodape-branco.png) top center no-repeat;
    padding-top: 70px;
    margin-top: -45px;
}
#link-contato-rodape {
    float: left;
    width: 130px;
    height: 50px;
    background: url(../imagens/btn-contato-rodape.png);
}
#menu-rodape {
    font-size: 14px;
    float: left;
    margin: 16px 22px 0;
    color: #8a8c8f;
}
.link-rodape {
    color: #8a8c8f;
}
#redes-social {
    float: right;
}
#redes-social span {
    font-size: 22px;
    color: #277ac9;
    font-weight: bold;
    float: left;
    margin: 10px 10px 0 0;
}
#linkedin-btn, #facebook-btn{
    background-image: url(../imagens/btn-sociais.png);
    height: 50px;
    float: left;
}
#facebook-btn{
    width: 47px;
}
#linkedin-btn {
    background-position: -47px 0;
    width: 46px;
}
#copyright {
    text-align: center;
    font-size: 12px;
    color: #8a8c8f;
    margin: 10px 0 15px;
}
/* animações */
.secao-home::after, .secao-home>*{
    opacity: 0;
}
/* X positivo
 {
    transform: translateX(100px);
}
/* X negativo */
.secao-home-1 .ctd-secao-home,.secao-home-1 .link-secao-home,.secao-home-3 .ctd-secao-home, .secao-home-1 .icone-secao-home, .secao-home-2 .ctd-secao-home, .secao-home-2 .link-secao-home, .secao-home-2::after, .secao-home-4::after, .secao-home-3 .link-secao-home, .secao-home-4 .link-secao-home, .secao-home-5 .icone-secao-home, .secao-home-5::after,.secao-home-5 .link-secao-home,.secao-home-3 .icone-secao-home{
    transform: translateX(-100px);
}
/* X */
.secao-home-1.anima-start .ctd-secao-home,.secao-home-1.anima-start .link-secao-home,.secao-home-3.anima-start .ctd-secao-home, .secao-home-3.anima-start .icone-secao-home, .secao-home-5.anima-start .icone-secao-home, .secao-home-5.anima-start::after,.secao-home-5.anima-start .link-secao-home, .secao-home-1.anima-start .icone-secao-home, .secao-home-2.anima-start .ctd-secao-home,.secao-home-2.anima-start .link-secao-home, .secao-home-2.anima-start::after, .secao-home-4.anima-start::after,.secao-home-3.anima-start .link-secao-home,.secao-home-4.anima-start .link-secao-home{
    animation: anima-x 2s ease forwards;
}
/* Y positivo */
.secao-home-1::after, .secao-home-3::after, .secao-home-4 .icone-secao-home, .secao-home-5 .ctd-secao-home{
    transform: translateY(100px);
}
/* Y negativo */
.secao-home-2 .icone-secao-home, .secao-home-4 .ctd-secao-home{
    transform: translateY(-100px);
}
/* Y */
.secao-home-1.anima-start::after, .secao-home-3.anima-start::after, .secao-home-4.anima-start .icone-secao-home, .secao-home-5.anima-start .ctd-secao-home, .secao-home-2.anima-start .icone-secao-home, .secao-home-4.anima-start .ctd-secao-home{
    animation: anima-y 2s ease forwards;
}
@keyframes anima-y {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes anima-x {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Media Queries */
@media (max-width: 1200px) {
    body {
        font-size: 15px;
        padding-top: 137px;
    }
    .logo-topo {
        background-image: url(../imagens/responsivo/1350/logo.png);
        width: 112px;
        height: 126px;
        margin: 0 10px -40px;
    }
    .topo-scroll .logo-topo {
        background-image: url(../imagens/responsivo/1350/logo-menu-reduzido.png);
        width: 83px;
        height: 93px;
        margin: 0 10px -30px;
    }
    #topo-principal::after {
        background-image: url(../imagens/responsivo/1350/barra-menu-bottom.png);
        margin: 23px 0 -33px;
        height: 33px;
    }
    #topo-principal::before {
        background-image: url(../imagens/responsivo/1350/barra-menu.png);
    }
    #topo-principal.topo-scroll::after {
        background-image: url(../imagens/responsivo/1350/barra-menu-bottom-reduzido.png);
        height: 34px;
        margin: 10px 0 -34px 0;
    }
    .link-menu {
        width: 60px;
        margin: 0 10px 10px;
    }
    .page-home .chamada-topo {
        background-image: url(../imagens/responsivo/1350/chamada-home.png);
        height: 327px;
        margin-bottom: 50px;
    }
    /* seções home */
    .secao-home-1 .icone-secao-home{
        background-image: url(../imagens/responsivo/1350/chamada-home.png);
    }
    .secao-home-1 .icone-secao-home {
        background: url(../imagens/responsivo/1350/icone-porque-existimos.png);
        width: 307px;
        height: 176px;
        margin: 0 30px 0 0;
    }
    .secao-home-2 .icone-secao-home, .item-central-quem-somos .icone-secao-home{
        background: url(../imagens/responsivo/1350/icone-quem-somos.png);
        width: 247px;
        margin-left: -40px;
        height: 162px;
    }
    .secao-home-3 .icone-secao-home, .item-central-como-fazemos-2 .icone-secao-home{
        background: url(../imagens/responsivo/1350/icone-como-fazemos.png);
        width: 238px;
        height: 165px;
        margin: 0 0 20px -50px;
    }
    .secao-home-4 .icone-secao-home, .item-central-como-fazemos-3 .icone-secao-home{
        background: url(../imagens/responsivo/1350/icone-etapa.png);
        width: 227px;
        height: 185px;
        margin-left: -25px;
    }
    .secao-home-5 .icone-secao-home, .item-central-como-fazemos-7 .icone-secao-home{
        background: url(../imagens/responsivo/1350/icone-pensar.png);
        width: 211px;
        height: 232px;
    }
    .secao-home-1 .link-secao-home{
        background:url(../imagens/responsivo/1350/btn-por-que-existimos-home.png);
        float: right;
        margin: 25px 85px 0 -20px;
        width: 192px;
    }
    .secao-home-2 .link-secao-home{
        background:url(../imagens/responsivo/1350/btn-quem-somos.png);
    }
    .secao-home-3 .link-secao-home{
        background:url(../imagens/responsivo/1350/btn-como-fazemos.png);
    }
    .secao-home-4 .link-secao-home{
        background:url(../imagens/responsivo/1350/btn-etapa.png);
    }
    .secao-home-5 .link-secao-home{
        background:url(../imagens/responsivo/1350/btn-formatos.png);
    }
    .secao-home-1::after {
        background:url(../imagens/responsivo/1350/linha-rosa-home.png);
        width:112px;
        height: 428px;
        top: 232px;
        right: 239px;
    }
    .secao-home-2::after {
        background:url(../imagens/responsivo/1350/linha-quem-somos.png);
        width:173px;
        height: 177px;
        top: 212px;
        right: -61px;
    }
    .secao-home-3::after {
        background: url(../imagens/responsivo/1350/linha-como-fazemos.png) top right;
        width: 226px;
        height:212px;
        top: 212px;
        right: 20px;
    }
    .secao-home-4::after {
        background:url(../imagens/responsivo/1350/linha-etapa.png);
        width:314px;
        height:84px;
        top: 152px;
        right: -41px;
    }
    .secao-home-5::after {
        background:url(../imagens/responsivo/1350/linha-formatos.png);
        width:269px;
        height:201px;
        top: 30px;
        left: -51px;
    }
    #container-logo {
        clear: both;
        width: 227px;
        background: url(../imagens/responsivo/1350/linha-centro.png);
        height: 188px;
        margin: 0 auto;
        text-align: center;
        padding-top: 39px;
        position: relative;
        z-index: 2;
    }
    #logo-ctd img {
        width: 148px;
    }
    .link-secao-home {
        width: 191px;
        height: 37px;
        margin: 31px 0 20px;
    }
    .secao-home-1 {
        width: 574px;
    }
    .secao-home-2 {
        width: 290px;
    }
    .secao-home-3 {
        margin: 90px 0 -81px 0;
        width: 287px;
    }
    .secao-home-4 {
        margin-top: -153px;
    }
    .secao-home-5 .icone-secao-home {
        margin: -43px 0 -10px;
    }
    #chamada-fale-conosco {
        background-image: url(../imagens/responsivo/1350/fundo-fale-conosco.png);
        margin-top: 50px;
        height: 281px;
    }
    #link-fale-conosco {
        background: url(../imagens/responsivo/1350/btn-fale-conosco.png) no-repeat;
        height: 55px;
        width: 90%;
        max-width: 346px;
        margin-top: 100px;
        background-size: contain;
    }
    #titulo-blog {
        background: url(../imagens/responsivo/1350/as-ultimas-do-blog.png);
        width: 205px;
        height: 109px;
    }
    .post-blog-home {
        background-image: url(../imagens/responsivo/1350/linha-veja-mais-blog.png);
        width: 315px;
        height: 202px;
    }
    .btn-veja-mais.btn-blog-home {
        background-image: url(../imagens/responsivo/1350/btn-veja-mais-blog.png);
        margin: 9px 60px 0 0;
    }
    .btn-veja-mais {
        width: 125px;
        height: 39px;
    }
    .ctd-post-blog p {
        font-size: 13px;
    }
    .foto-blog-clientes-home {
        background: url(../imagens/responsivo/1350/fundo-foto-blog.png);
        width: 104px;
        height: 103px;
        padding-top: 2px;
    }
    .esconde-blog-clientes-home {
        width: 95px;
        height: 95px;
        padding: 0;
    }
    .esconde-blog-clientes-home img {
        height: auto;
        width: 100%;
    }
    .ctd-post-blog {
        width: 170px;
    }
    .central {
        max-width: 716px;
    }
    #titulo-clientes-home {
        background: url(../imagens/responsivo/1350/icone_aspas.png);
        width: 252px;
        height: 101px;
        margin: 70px 0 20px;
    }
    .ctd-home-clientes .foto-blog-clientes-home {
        background: url(../imagens/responsivo/1350/fundo-foto-clientes.png);
    }
    #home-clientes {
        background-image: url(../imagens/responsivo/1350/linha-veja-mais-depoimento.png);
        background-position-y: 191px;
    }
    .titulo-clientes-home {
        font-size: 15px;
        margin: 10px 0 5px;
        height: 90px;
    }
    .ctd-post-clientes {
        font-size: 13px;
        width: 220px;
    }
    .ctd-home-clientes {
        margin-bottom: 55px;
    }
    .btn-veja-mais.btn-clientes-home {
        background-image: url(../imagens/responsivo/1350/btn-veja-mais-depoimento.png);
        height: 37px;
        margin: -51px 123px 0 0;
    }
    .titulo-clientes-home::before {
        background-image: url(../imagens/responsivo/1350/aspas-esquerda-home.png);
    }
    .titulo-clientes-home::after {
        background-image: url(../imagens/responsivo/1350/aspas-direita-home.png);
    }
    .titulo-clientes-home::after, .titulo-clientes-home::before {
        width: 25px;
        height: 19px;
    }
    #home-blog-clientes {
        background-image: url(../imagens/responsivo/1350/fundo-ctd-home.png);
        height: 684px;
        margin-bottom: -31px;
    }
    .titulo-blog-home {
        font-size: 15px;
    }
    .titulos {
        font-size: 26px;
    }
    #chamada-newsletter {
        background-image: url(../imagens/responsivo/1350/fundo-email-mkt.png);
        height: 263px;
        padding: 55px 0 0;
    }
    #formulario-newsletter input[type=submit] {
        background-image: url(../imagens/responsivo/1350/fundo-btn-cadastrar.png);
        padding: 13px 25px 13px 35px;
        font-size: 17px;
    }
    #formulario-newsletter input[type=text] {
        padding: 13px 25px;
        font-size: 17px;
        width: 280px;
    }
    #rodape {
        background-image: url(../imagens/responsivo/1350/rodape-branco.png);
        text-align: center;
        padding-top: 60px;
        margin-top: -37px;
    }
    #menu-rodape {
        font-size: 12px;
        margin: 11px 0 0 10px;
        float: none;
        display: inline-block;
    }
    #link-contato-rodape {
        background: url(../imagens/responsivo/1350/btn-contato-rodape.png);
        width: 98px;
        height: 37px;
        float: none;
        display: inline-block;
        margin-bottom: -15px;
    }
    #redes-social span {
        font-size: 16px;
    }
    #linkedin-btn, #facebook-btn {
        background-image: url(../imagens/responsivo/1350/btn-sociais.png);
        height: 37px;
    }
    #facebook-btn {
        width: 37px;
    }
    #linkedin-btn {
        background-position: -36px 0;
        width: 35px;
    }
    #redes-social {
        float: none;
        margin: 20px auto;
        width: 151px;
    }
    #copyright {
        font-size: 11px;
    }
    .chamada-topo {
        height: 184px;
        background-image: url(../imagens/responsivo/1350/chamada-como-fazemos.png);
    }
    .page-quem-somos .chamada-topo{
        background-image: url(../imagens/responsivo/1350/chamada-quem-somos.png);
    }
    .page-pq-existimos .chamada-topo{
        background-image: url(../imagens/responsivo/1350/chamada-pq-existimos.png);
    }
    .page-nossos-clientes .chamada-topo{
        background-image: url(../imagens/responsivo/1350/chamada-nossos-clientes.png);
        position: relative;
        z-index: 2;
    }
    .page-fale-conosco .chamada-topo{
        background-image: url(../imagens/responsivo/1350/chamada-fale-conosco.png);
        height: 184px;
    }
    .container-banner {
        max-width: 1800px;
        margin-top: -36px;
        width: 100%;
    }
    .icone-pq-existimos {
        background-image: url(../imagens/responsivo/1350/icones-baloes.png);
        max-width: 693px;
        height: 374px;
        margin: 50px auto 40px;
    }
    .ctd-pg {
        margin-bottom: 50px;
    }
    .razao h1 {
        font-size: 17px;
    }
    .razao-0 .icone {
        background: url(../imagens/responsivo/1350/icone-setas.png);
        width: 77px;
        height: 59px;
    }
    .razao-1 .icone {
        background: url(../imagens/responsivo/1350/icone-caderno.png);
        width:62px;
        height: 62px;
    }
    .razao-2 .icone {
        background: url(../imagens/responsivo/1350/icone-people.png);
        width: 59px;
        height: 70px;
        margin-top: 54px;
    }
    .razao-3 .icone {
        background: url(../imagens/responsivo/1350/icone-tempo.png);
        width: 63px;
        height: 64px;
    }
    .razao-4 .icone {
        background: url(../imagens/responsivo/1350/icone-graficos.png);
        width: 62px;
        height: 61px;
    }
    .page-pq-existimos #link-fale-conosco {
        background-image: url(../imagens/responsivo/1350/btn-saiba-como-fazemos.png);
        max-width: 438px;
    }
    .icone-container .icone {
        margin-top: 50px;
    }
    .razao {
        width: 164px;
        height: 258px;
        margin: 0 20px;
    }
    #razoes-container {
        max-width: 620px;
    }
    .razao-3 {
        margin-left: 120px;
    }
    .icone-container {
        width: 160px;
        height: 160px;
    }
    .item-central-como-fazemos-2 {
        margin-bottom: 40px;
    }
    .item-central .icone-secao-home {
        margin: 0 30px 0 0;
    }
    .item-central-como-fazemos-3 {
        padding-top: 60px;
        margin: 50px auto;
    }
    .item-central-como-fazemos-3 .icone-secao-home {
        margin-top: -65px;
    }
    .item-como-fazemos-etapas h2.titulos {
        font-size: 22px;
    }
    .item-como-fazemos-etapas h1.titulos {
        font-size: 31px;
    }
    .ctd-como-fazemos,.item-como-fazemos .titulos {
        font-size: 13px;
    }
    .container-itens-como-fazemos .icone-como-fazemos {
        background-image: url(../imagens/responsivo/1350/icone-calendar.png);
        width: 71px;
        height: 65px;
        margin-top: 45px;
    }
    .item-como-fazemos-1 .icone-como-fazemos {
        background-image: url(../imagens/responsivo/1350/icone-flor.png);
    }
    .item-como-fazemos-2 .icone-como-fazemos {
        background-image: url(../imagens/responsivo/1350/icone-money.png);
    }
    .container-itens-como-fazemos .borda-azul {
        width: 160px;
        height: 160px;
    }
    .item-como-fazemos {
        width: 160px;
    }
    .bolinha-mais-igual {
        font-size: 26px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .bolinha-mais-igual.bolinha-mais {
        line-height: 1.3;
    }
    .item-central-como-fazemos-7 {
        margin: 50px auto;
    }
    .item-central-como-fazemos-7 .icone-secao-home {
        margin-top: -90px;
    }
    .borda-azul-3 {
        font-size: 13px;
        width: 307px;
        height: 307px;
    }
    .itens-borda-azul-0 {
        margin: -343px 0 0 80px;
    }
    .itens-borda-azul-1 {
        margin: -181px 0 0 115px;
    }
    .itens-borda-azul-2 {
        margin: -74px 0 0 235px;
    }
    .itens-borda-azul-3 {
        margin: -74px 230px 0 0;
    }
    .itens-borda-azul-4 {
        margin: -214px 114px 0 0;
    }
    .itens-borda-azul-5 {
        margin: -376px 80px 0 -530px;
    }
    .borda-azul-3 .titulos {
        font-size: 18px;
    }
    .borda-dotted-2 {
        width: 370px;
        height: 370px;
    }
    .borda-dotted-1 {
        width: 470px;
        height: 470px;
    }
    .titulo-itens-borda {
        font-size: 15px;
    }
    .itens-borda-azul {
        width: 103px;
        height: 103px;
    }
    .itens-borda-azul .icone {
        margin-top: 25px;
    }
    .item-central-como-fazemos-9 .icone-como-fazemos {
        background: url(../imagens/responsivo/1350/icone-marketing-outsourcing.png);
        width: 58px;
        height: 68px;
    }
    .titulo-etapas-como-fazemos {
        margin: 70px 0 40px;
    }
    .item-como-fazemos-formatos .titulos {
        font-size: 31px;
    }
    .item-central .borda-azul {
        width: 160px;
        height: 160px;
    }
    .icone-como-fazemos {
        margin: 50px auto 0;
    }
    .container-itens-como-fazemos {
        width: 665px;
        float: left;
        transition: 0.5s;
    }
    .container-itens-como-fazemos[data-andar="1"] {
        margin-left: -180px;
    }
    .container-itens-como-fazemos[data-andar="2"]{
        margin-left: -430px;
    }
    #esconde-itens-como-fazemos{
        max-width: 665px;
     }
    .item-central-como-fazemos-10 .icone-como-fazemos {
        background: url(../imagens/responsivo/1350/icone-marketing-mentoring.png);
        width: 60px;
        height: 62px;
    }
    .item-como-fazemos-formatos {
        margin-bottom: 50px;
        padding-top: 30px;
    }
    .item-como-fazemos-formatos .borda-azul {
        margin-top: -30px;
    }
    .item-central-quem-somos .icone-secao-home {
        margin-top: -42px;
    }
    .btn-linkedin::before {
        background: url(../imagens/responsivo/1350/btn-linkedin.png);
        width: 40px;
        height: 39px;
        margin-bottom: -13px;
    }
    .equipe-diretoras .container-equipe-img {
        width: 230px;
    }
    .container-equipe-img img {
        width: 100%;
    }
    .container-equipe-img {
        width: 160px;
    }
    .equipe.equipe-diretoras {
        margin-bottom: 90px;
    }
    .equipe {
        margin-bottom: 50px;
    }
    #resumo-banner {
        font-size: 21px;
        width: 430px;
        right: 10%;
    }
    .nome-pessoa {
        font-size: 15px;
    }
    #resumo-banner p {
        margin: 5px 0;
    }
    #logo-banner {
        width: 180px;
        height: 180px;
    }
    .cliente {
        width: 150px;
        height: 150px;
        margin: 7px;
    }
    #resumo-banner::after, #resumo-banner::before {
        width: 51px;
        height: 41px;
    }
    #resumo-banner::before {
        background: url(../imagens/responsivo/1350/aspas-esquerda.png);
        width: 52px;
    }
    #resumo-banner::after {
        background: url(../imagens/responsivo/1350/aspas-direita.png);
    }
    .ctd-depoimento-txt {
        font-size: 13px;
    }
    .ctd-depoimento-txt p b {
        font-size: 18px;
    }
    .container-imagens {
        height: 451px;
        position: relative;
    }
    #form-fale-conosco .ipt-reset, #form-fale-conosco select {
         padding: 15px 28px;
         font-size: 15px;
     }
    #arquivos-paragrafo-2 {
        font-size: 15px;
        margin-top: 25px;
    }
    #arquivos-paragrafo-2 span {
        font-size: 12px;
    }
    #icone-envelope {
        background: url(../imagens/responsivo/1350/icone-envelope.png);
        width: 57px;
        height: 59px;
        margin-top: 30px;
    }
    #form-fale-conosco {
        background-image: url(../imagens/responsivo/1350/form-contato-linha.png);
        width: 600px;
        padding-top: 30px;
        margin-top: 30px;
        padding-right: 24px;
    }
    input#arquivos {
        width: 38%;
    }
    input#arquivos {
        display: none;
    }
    #drop-arquivos-container {
        margin: 0 24px 0 0!important;
    }
    #fale-conosco-msg,#drop-arquivos-container {
        height: 182px;
    }
    #enviar-form {
        background: url(../imagens/responsivo/1350/btn-enviar.png);
        width: 219px;
        height: 48px;
        margin-top: 18px;
    }
    #marcador-maps {
        background: url(../imagens/responsivo/1350/mapa-icon.png);
        width: 66px;
        margin-top: 60px;
        height: 74px;
    }
    #maps {
        background-image: url(../imagens/responsivo/1350/mapa.jpg);
        height: 487px;
    }
    .page-fale-conosco .ctd-pg {
        width: 624px;
    }
}
@media (max-width: 1000px) {
    .item-central-como-fazemos-2 {
        width: 100%;
    }
}
@media (max-width: 735px) {
    .central {
        width: 90%;
    }
    .link-menu {
        margin: 0 3px 10px;
    }
    .secao-home::after {
        background: none;
        content: '';
        clear: both;
        width: 0;
        height: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
    .secao-home .link-secao-home {
        background: none;
        display: none;
    }
    .secao-home {
        padding: 0;
        width: 100%;
        max-width: 408px;
        margin: 30px auto;
        float: none;
        clear: both;
    }
    #container-logo {
        background: none;
        display: none;
    }
    .secao-home .icone-secao-home {
        margin: 0;
        float: left;
    }
    .secao-home-1 .icone-secao-home,.secao-home-4 .icone-secao-home {
        float: right;
    }
    .secao-home .ctd-secao-home {
        padding: 0;
    }
    .secao-home::before {
        padding-top: 10px;
        display: block;
        font-weight: bold;
        padding-right: 30px;
        font-size: 23px;
        margin: 20px auto;
        width: 100%;
        text-align: center;
        color: white;
        height: 53px;
        box-sizing: border-box;
        background: no-repeat;
    }
    .secao-home-4::before, .secao-home-5::before{
        width: 187px;
        height: 26px;
        font-size: 13px;
        padding: 6px 0 0;
    }
    .secao-home-1::before{
        background-image:url(../imagens/responsivo/650/btn_menu_rosa.png);
        content: 'Por que existimos';
    }
    .secao-home-2::before{
        background-image:url(../imagens/responsivo/650/btn_menu_verde.png);
        content: 'Quem somos';
    }
    .secao-home-3::before{
        background-image:url(../imagens/responsivo/650/btn-como-fazemos.png);
        content: 'Como fazemos';
    }
    .secao-home-4::before{
        background-image:url(../imagens/responsivo/650/btn-etapas.png);
        content: 'I. Etapas';
        float: left;
    }
    .secao-home-5::before{
        background-image:url(../imagens/responsivo/650/btn-formatos.png);
        content: 'II. Formatos';
        float: right;
    }
    .secao-home-1 .icone-secao-home {
        background-image:url(../imagens/responsivo/650/icon-pq-existimos.png);
        width: 115px;
        height:137px;
    }
    .secao-home-2 .icone-secao-home {
        background-image:url(../imagens/responsivo/650/icon-quem-somos.png);
        width: 106px;
        height: 154px;
    }
    .secao-home-3 .icone-secao-home {
        background-image:url(../imagens/responsivo/650/icon-como-fazemos.png);
        width: 164px;
        height: 159px;
    }
    .secao-home-4 .icone-secao-home {
        background-image:url(../imagens/responsivo/650/icon-etapa.png);
        width: 189px;
        height: 209px;
    }
    .secao-home-5 .icone-secao-home {
        background-image:url(../imagens/responsivo/650/icon-formatos.png);
        width: 181px;
        height: 137px;
    }
    .secao-home-1 .ctd-secao-home, .secao-home-4 .ctd-secao-home {
        float: left;
    }
    .secao-home-2 .ctd-secao-home, .secao-home-3 .ctd-secao-home, .secao-home-5 .ctd-secao-home{
        float:right;
    }
    .secao-home-1 .ctd-secao-home {
        width: 60%;
    }
    .secao-home-2 .ctd-secao-home {
        width: 60%;
    }
    .secao-home-3 .ctd-secao-home {
        width: 50%;
    }
    .secao-home-4 .ctd-secao-home {
        width: 50%;
    }
    .secao-home-5 .ctd-secao-home {
        width: 46%;
    }
    .secao-home .ctd-secao-home p:first-child {
        margin-top: -10px;
    }
    /* Pq existimos */
    .razao-3 {
        margin-left: 20px;
    }
    #razoes-container {
        max-width: 410px;
    }
    .razao-4 {
        margin-left: 120px;
    }
    .icone-pq-existimos {
        background-size: contain;
    }
    #home-blog .post-blog-home:last-child {
        display: none;
    }
    #home-clientes .ctd-home-clientes:nth-child(3) {
        display: none;
    }
    #home-clientes {
        float: none;
        width: 300px;
        margin: 0 auto;
        background: url(../imagens/responsivo/650/linha-veja-mais-depoimento.png) -11px 120px no-repeat;
        padding-bottom: 10px;
    }
    #home-blog {
        float: none;
        width: 300px;
        margin: 0 auto;
        padding-top: 60px;
    }
    #titulo-blog {
        margin: 0 auto;
    }
    .post-blog-home {
        width: 100%;
    }
    .ctd-post-clientes {
        width: 160px;
        margin-right: 10px;
    }
    #titulo-clientes-home {
        margin: 0 auto 30px;
    }
    #home-blog-clientes {
        height: 780px;
        background: url(../imagens/fundo-ctd-home.png) no-repeat center -50px;
    }
    .btn-veja-mais.btn-clientes-home {
        margin: -43px 90px 0 0;
    }
    .titulo-clientes-home {
        height: 120px;
    }
    .item-central-como-fazemos-2 .icone-secao-home {
        margin: 30px auto;
        float: none;
    }
    .item-central-como-fazemos-2 .titulos {
        font-weight: normal;
        text-align: center;
    }
    .titulo-duas-etapas {
        background: #2679c9;
        color: white;
        display: block;
        margin: 0 auto;
        width: 320px;
        padding: 5px 10px 7px;
        border-radius: 23px;
    }
    .item-central-como-fazemos-3 {
        padding: 0;
    }
    .item-central-como-fazemos-3 .icone-secao-home {
        margin: 0 40px 0 0;
        background: url(../imagens/responsivo/650/icon-etapa.png);
        width: 189px;
        height: 209px;
    }
    .item-central-como-fazemos-7 {
        padding: 0;
        width: 100%;
    }
    .item-central-como-fazemos-7 .icone-secao-home {
        margin: 0 40px 0 0;
        background: url(../imagens/responsivo/650/icon-formatos.png);
        width: 181px;
        height: 137px;
    }
    .item-como-fazemos-etapas h2.titulos {
        text-decoration: underline;
        font-size: 31px;
    }
    .item-como-fazemos-etapas h1.titulos {
        font-size: 28px;
    }
    .item-como-fazemos-formatos .borda-azul {
        margin-top: 0;
    }
    .item-central .borda-azul {
        width: 140px;
        height: 140px;
    }
    .icone-como-fazemos {
        margin-top: 40px;
    }
    .itens-borda-azul {
        display: none;
    }
    .borda-dotted.borda-azul-ctd {
        border: none;
        width: 100%;
        height: auto;
    }
}
@media (min-width: 651px) {
    #menu-principal {
        display: block !important;
    }
}
@media (max-width: 650px) {
    body {
        padding-top: 86px;
    }
    #menu-principal {
        display: none;
        position: absolute;
        background: url(../imagens/responsivo/650/fundo-menu.png) bottom center;
        top: 86px;
        width: 100%;
        left: 0;
        padding: 50px 0 60px;
    }
    .link-menu {
        width: 408px;
        color: white;
        padding: 13px 130px 13px 0;
        box-sizing: border-box;
        font-size: 23px;
        text-align: right;
        font-weight: bold;
    }
    .link-menu::before {
        content: initial;
    }
    #menu-principal .logo-topo {
        display: none;
    }
    .link-menu.cor-rosa {
        background-image: url(../imagens/responsivo/650/btn_menu_rosa.png);
    }
    .link-menu.cor-azul {
        background-image: url(../imagens/responsivo/650/btn_menu_azul.png);
    }
    .link-menu.cor-verde {
        background-image: url(../imagens/responsivo/650/btn_menu_verde.png);
    }
    .link-menu.cor-laranja {
        background-image: url(../imagens/responsivo/650/btn_menu_laranja.png);
    }
    .link-menu.cor-roxo {
        background-image: url(../imagens/responsivo/650/btn_menu_roxo.png);
    }
    .link-menu.cor-cinza {
        background-image: url(../imagens/responsivo/650/btn_menu_cinza.png);
    }
    #logo-rpsv {
        background: url(../imagens/responsivo/650/logo.png);
        width: 100px;
        display: inline-block;
        margin: -10px 0 -30px;
        height: 96px;
        position: relative;
        z-index: 2;
    }
    #btn-menu-rpsv {
        background: url(../imagens/responsivo/650/btn-menu.png);
        float: right;
        height: 39px;
        width: 34px;
        margin: 20px 0 0 -80px;
        cursor: pointer;
    }
    #topo-principal::after {
        margin: 10px 0 -33px;
    }
    #topo-principal.topo-scroll::after{
        margin: 10px 0 -34px;
    }
    .icone-pq-existimos {
        height: 305px;
    }
    #topo-principal::after {
        position: relative;
        z-index: 1;
    }
    .item-central-quem-somos .icone-secao-home {
        float: none;
        margin: 0 auto 30px;
    }
    .item-central-quem-somos {
        padding-top: 40px;
    }
    #form-fale-conosco .ipt-reset, #form-fale-conosco select {
        width: 100%;
        padding: 7px 18px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    #form-fale-conosco {
        width: 350px;
        background: url(../imagens/form-contato-linha.png) top right no-repeat;
        padding-top: 15px;
        padding-right: 20px;
    }
    #fale-conosco-msg, #drop-arquivos-container {
        height: 140px;
    }
    #drop-arquivos-container {
        margin: 0 0 10px 0!important;
    }
    #enviar-form {
        margin-top: 10px;
    }
    #form-fale-conosco select {
        background-position: 320px 10px;
    }
    #arquivos-paragrafo-2 {
        margin-top: 20px;
    }
    .page-fale-conosco .ctd-pg {
        width: 90%;
    }
}
@media (max-width: 580px) {
    .page-home .chamada-topo {
        background-image: url(../imagens/responsivo/320/chamada-home.png);
        height: 290px;
    }
    .icone-pq-existimos {
        height: 270px;
        margin: 30px 0;
        background: url(../imagens/responsivo/650/icones-baloes.png) center top/contain no-repeat;
    }
    .equipe {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0 0 50px;
        padding-bottom: 20px;
        background: url(../imagens/responsivo/650/separador-integrantes-quem-somos.png) no-repeat center bottom;
    }
    .container-equipe-img {
        float: none;
        display: inline-block;
        margin: 0;
    }
    .equipe .titulos {
        text-align: center;
    }
    .equipe-diretoras .ctd-txt-equipe {
        min-height: initial;
    }
    #titulo-quem-somos {
        background: url(../imagens/responsivo/650/separador-quem-somos.png) no-repeat center top;
        padding-top: 60px;
        margin-top: 40px;
    }
    #container-equipe {
        margin-top: 30px;
    }
    .equipe.equipe-diretoras {
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    #menu-rodape {
        display: none;
    }
    #link-contato-rodape{
        background-image: url(../imagens/responsivo/650/btn-contato-rodape.png);
        display: block;
    }
    #link-contato-rodape, #linkedin-btn, #facebook-btn {
        width: 259px;
        height: 60px;
        margin: 10px auto;
    }
    #linkedin-btn {
        background: url(../imagens/responsivo/650/btn-linkedin-rodape.png) 0 0;
    }
    #facebook-btn {
        background-image: url(../imagens/responsivo/650/btn-facebook-rodape.png);
    }
    #redes-social {
        margin: 0 auto;
        width: 259px;
    }
    #redes-social span {
        display: none;
    }
    #resumo-banner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        color: #9a9a9a;
        font-size: 17px;
    }
    #container-setas {
        float: none;
        margin: 20px auto 80px;
    }
    #logo-banner {
        float: none;
        margin: -60px auto 10px;
        display: block;
        width: 100px;
        height: 100px;
    }
    .container-imagens img {
        width: 580px;
        margin-left: -290px;
    }
    .container-imagens {
        height: 226px;
    }
    .leia-mais-clientes {
        color: #fd8f09;
    }
    .nome-pessoa {
        color: #fd8f09;
    }
    #resumo-banner::before {
        background: url(../imagens/responsivo/650/aspas-esquerda.png);
    }
    #resumo-banner::after {
        background: url(../imagens/responsivo/650/aspas-direita.png);
    }
    #resumo-banner::after, #resumo-banner::before {
        width: 40px;
        height: 32px;
    }
    .ctd-depoimento-txt {
        text-align: center;
    }
}
@media (max-width: 480px) {
    #formulario-newsletter input[type=text] {
        width: 200px;
        font-size: 15px;
    }
    #formulario-newsletter input[type=submit] {
        padding-top: 11px;
        padding-bottom: 13px;
    }
    .secao-home-1::before, .secao-home-2::before, .secao-home-3::before {
        background-size:contain;
        font-size: 16px;
        width: 270px;
        padding-top: 8px;
        margin-bottom: 0;
    }
    .secao-home .ctd-secao-home {
         width: 100%;
         float: none;
         text-align: center;
     }
    .secao-home .icone-secao-home {
        float: none;
        margin: 0 auto 20px;
        display: block;
    }
    .secao-home-4::before, .secao-home-5::before {
        float: none;
    }
    #razoes-container {
        max-width: 165px;
        margin-top: 40px;
    }
    .razao {
        margin: 0;
        height: 238px;
    }
    .link-menu {
        width: 290px;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 8px 100px 0 0;
        height: 38px;
        margin: 0 0 5px;
    }
    #home-blog-clientes {
        background: url(../imagens/responsivo/650/fundo-blog-depoimentos.png) center -6px;
    }
    #home-blog-clientes .central {
        width:100%;
    }
    #maps {
        background-image: url(../imagens/responsivo/650/mapa.jpg);
        height: 449px;
    }
    #form-fale-conosco {
        width: 280px;
        background: none;
        padding: 0;
    }
    #enviar-form {
        margin: 20px auto 0;
        background: url(../imagens/responsivo/320/btn-enviar.png) 0 0/contain no-repeat;
        width: 182px;
        height: 40px;
    }
    #form-fale-conosco select {
        background-position: 250px 10px;
    }
    .item-central .icone-secao-home {
        float: none;
        margin: 0 auto;
    }
    .item-central {
        text-align: center;
    }
    .item-como-fazemos-etapas h1.titulos,.item-como-fazemos-etapas h2.titulos,.item-como-fazemos-formatos .titulos {
        text-align: center;
        margin: 10px 0;
    }
    .item-central .borda-azul {
        float: none;
        margin: 0 auto;
    }
    .item-como-fazemos-formatos {
        margin-bottom: 30px;
        padding: 0;
    }
}
@media (max-width: 400px) {
    #formulario-newsletter input[type=text] {
        width: 170px;
        font-size: 13px;
        padding-left: 14px;
    }
    #formulario-newsletter input[type=submit] {
        padding: 9px 15px 12px 25px;
    }
    .icone-pq-existimos {
        max-width: 300px;
        height: 235px;
        margin: 20px auto;
    }
    .page-pq-existimos .chamada-topo {
        background-image: url(../imagens/responsivo/650/chamada-pq-existimos.png);
        height: 154px;
    }
    .titulo-duas-etapas {
        font-size: 19px;
        width: 100%;
        padding: 5px 0 7px;
    }
}
@media (max-width: 360px) {
    #maps {
        background-image: url(../imagens/responsivo/320/mapa.jpg);
        height: 329px;
    }
    .borda-azul-3 {
        padding: 15px 40px 0;
        width: 280px;
        height: 280px;
    }
    .borda-azul-3 .titulos {
        font-size: 17px;
    }
}